
body {
	background-color:BLACK;
	text-align: center;
}
p {
	color:WHITE;
	font-size:30px;
}
h1 {
	color:WHITE;
	font-size: 50px;
}

div {
	color:WHITE;
	font-size: 30px;
}	

header {
	background-color:black;
    color:white;
    text-align:center;
    font-size: 30px;
    padding:0px;
    /*float:center;*/
}

article.top {
	background-color:black;
    color:white;
    text-align:center;
    font-size: 30px;
    /*float:center;*/
}

div.bottom {
	background-color:black;
    color:white;
    text-align:center;
    font-size: 30px;
    /*float:center;*/
}

aside.left {
	position: relative;
    line-height:30px;
    background-color:black;
    height:100px;
    width:150px;
    padding:50px;
    padding-top:0px;
    padding-bottom:0px;
    float:left;
        
}

aside.right {

	position: relative;
    line-height:30px;
    background-color:black;
    height:100px;
    width:200px;
    padding:50px;
    padding-top:0px;
    padding-bottom:0px;
    float:right;
    
}

div.last{
	background-color: black;
	padding-bottom: 20px;
}