
body {
	background-color:BLACK;
	text-align: center;
}
p {
	color:WHITE;
	font-size:30px;
}
h1 {
	color:WHITE;
	font-size: 50px;
}

div {
	color:WHITE;
	font-size: 30px;
}
/*
div.left {
	text-align: left;
}

div.right {
	text-align: right;
}
*/